[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pytest = "*"
python-dotenv = "*"
pytesseract = "*"
pandas = "*"
psycopg = "*"
emoji = "*"
psycopg2 = "*"
sqlalchemy = "*"
greenlet = "==0.4.17"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
